.landing{
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 70px;
    background-position: center;
    height: 840px;
    width: 100%;
    background-image: url("./images.anita/landing\ \(1\).jpg";)
}_
#text1{
    padding-left: ;
    background-image: url("images.anita/breakfast.jpg");
    height: 200px;
    width: 200px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.row{
    text-align: center;
    color: black;
    height: auto;
    width: auto;
}
#text2{
    padding-left: ;
    height: 0%;
    width: 100%;
    background-color: #F15A29;
    background-attachment: fixed;
    background-position: center;
    background-image: none;

}
.row{
    text-align: center;
    color: black;
}
.social{
    background-color: #F15A29;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images.anita/subscribe\ \(1\).jpg");
    text-align: center;
    color: #ffffff;

}
.logo{text-align: center;

}